// import font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

// import icons
@import "./fonts/icons/icons.css";

// import main
@import "./main.scss";

.border {
	border-bottom: #fff;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.no-border {
	border-bottom: none;
}
.border:hover {
	transition: all 0.5ms linear;
	border-bottom: #fff;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
